{% extends "base.html" %}
{% load static %}

{% block extra_css %}  
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">          
{% endblock %}

{% block content %}
    <div class="h1 text-center">
        <input type="hidden" id="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <input type="hidden" id="logged-in-user" value="{{ request.user }}" />
        <div class="row m-0 my-auto">
            {% if request.user.is_authenticated %}
            <div class="col-12 h5 mt-1">
                {% if request.user.profile.profile_pic %}
                    <div class="profile-image mx-auto"><a href="#" data-bs-toggle="modal" data-bs-target="#imageModal"><img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" /></a></div>                
                    {{ request.user|capfirst }}  
                {% else %}
                    <div class="profile-image mx-auto"><a href="#" data-bs-toggle="modal" data-bs-target="#imageModal"><img src="{{ request.user.profile.profile_pic }}" /></a></div>                
                    {{ request.user|capfirst }}               
                {% endif %}                                
            </div>
            <!-- Image Upload Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel chatbox">Upload Profile Image</h5>
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="uploadImage" action="{% url 'upload-image' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupFile01">Image</label>
                                <input type="url" name="profile" class="form-control" id="inputGroupFile01">
                            </div>
                            <button type="submit" class="btn btn-dark">Save</button>  
                        </form>
                    </div>                           
                </div>
                </div>
            </div>
            <div class="col-12 border-bottom fst-italic h4 text-start">ChatBoxers</div>
            {% else %}
            <div class="col-12 fst-italic h4 text-center p-3">Please Login</div>
            {% endif %}           
            {% if request.user.is_authenticated %}
            {% for user in users %}                
                {% if user != request.user %}
                    {% get_chat_room user_one=request.user user_two=user as chat_room %}
                    <div class="col-12 h5 text-start m-0 ps-3">
                        {% if user.is_authenticated %}
                            <i class="fas fa-circle text-success h6"></i>
                        {% else %}
                            <i class="fas fa-circle text-secondary h6"></i>
                        {% endif %}
                        {{ user }}
                        {% unread_messages request.user user as counter %}
                        <i class="fas fa-comment text-primary btn pe-1 ps-1 chatbox-open" data-bs-toggle="modal" data-bs-target="#chatBox-{{ forloop.counter }}" value="{{ user }}" data="{{ chat_room}}" data-id="{{ user.id }}"></i>                        
                        {% if counter == 0 %}
                        {% else %}
                            <i class="fas fa-envelope h6" id="chatBox-{{ forloop.counter }}-envelope"></i>
                            <span class="count h6" id="chatBox-{{ forloop.counter }}-unread"> {{ counter }} unread
                                {% if counter == 1 %}
                                    message
                                {% else %}
                                    messages
                                {% endif %}
                            </span>     
                        {% endif %}                                           
                    </div>
                {% endif %}
                <!-- chat box -->
                <!-- Modal -->
                <div class="modal fade" id="chatBox-{{ forloop.counter }}">
                    <div class="modal-dialog">
                    <div class="modal-content chat-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{% if user.profile.profile_pic %}
                                    <div class="profile-image-modal mx-auto"><img src="{{ user.profile.profile_pic }}" /></div>                
                                {% else %}
                                    <div class="profile-image-modal mx-auto"><img src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" /></a></div>                      
                                {% endif %}  
                            </h5>
                            <div class="h5 my-auto ps-2 mt-2">{{ user|capfirst }}</div>
                            <button type="button" class="btn-close btm-sm h6 user-modal-close-{{ user }}" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="row m-0 p-3 chatbox-{{ chat_room }}"></div>
                        <div class="modal-body pt-0 pb-0" id="modal-focus">
                            <form class="submit-message" action="#" method="POST" id="gif-{{ forloop.counter }}">
                                {% csrf_token %}
                                <input type="hidden" id="username" class="username" name="username" value="{{ user.username }}" />
                                <div class="input-group message">
                                    <textarea id="message" class="form-control" aria-label="With textarea" name="message" required></textarea>
                                </div>
                                <button class="btn btn-dark mt-2 btn-sm submit-message gif-{{ forloop.counter }} mb-2">Send <i class="fas fa-share"></i></button>                                                    
                            </form>                              
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}              
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
{% endblock %}