.chatbox {   
    font-family: 'Fredoka', sans-serif;
}
    
.date-text {
    font-size: 12px !important;
}

.chat-bg {
    background-color: rgb(176, 255, 176);
}

.chat-content {
    background-image: url('/media/whatsapp.png');
}
