.chatbox {   
    font-family: 'Fredoka', sans-serif;
}
    
.date-text {
    font-size: 12px;
}

.chat-bg {
    background-color: rgb(176, 255, 176);
}

.chat-content {
    background-image: linear-gradient(to right, rgb(212, 218, 255), rgb(239, 242, 253));
}