{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="empty-container"></div>
    <div class="container password_change">        
        <h1>{% trans "Change Password" %}</h1>
        <hr>
        <a class="allauth-button btn mb-2 pt-1" href="{% url 'profile' %}">{% trans "Back to Profile" %}</a>          
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">            
            {% csrf_token %}
            {{ form.as_p }}
            <button class="standard-button p-1" type="submit" name="action">{% trans "Change" %}</button>                       
        </form>
    </div>    
{% endblock %}
