{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="empty-container"></div> 
    <div class="container allauth-forms">
        <h1 class="header">Sign Up</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <form class="signup w-50" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="allauth-button btn bg-dark text-light ms-1" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>
{% endblock %}
